In [40]:
import pandas as pd

In [41]:
df = pd.read_csv("mobile_dataset.csv")

In [42]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [43]:
df["blue"].unique()

array([0, 1], dtype=int64)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop("price_range", axis =1), df["price_range"], 
                                                 test_size=0.2,random_state=33)

### Information Gain or mutual Information

In [12]:
from sklearn.feature_selection import mutual_info_classif
info_gain = mutual_info_classif(X_train,y_train)
info_gain

array([0.0250471 , 0.        , 0.00389796, 0.00940397, 0.        ,
       0.        , 0.00846235, 0.0069663 , 0.02845348, 0.01562809,
       0.00352903, 0.02137424, 0.0122207 , 0.8339922 , 0.        ,
       0.00368531, 0.        , 0.0023011 , 0.0219074 , 0.00892213])

In [19]:
info = pd.Series(info_gain, index = X_train.columns)
info.sort_values(ascending = False)

ram              0.833992
mobile_wt        0.028453
battery_power    0.025047
touch_screen     0.021907
px_height        0.021374
n_cores          0.015628
px_width         0.012221
dual_sim         0.009404
wifi             0.008922
int_memory       0.008462
m_dep            0.006966
clock_speed      0.003898
sc_w             0.003685
pc               0.003529
three_g          0.002301
blue             0.000000
four_g           0.000000
fc               0.000000
sc_h             0.000000
talk_time        0.000000
dtype: float64

In [20]:
from sklearn.feature_selection import SelectKBest

In [21]:
sel_fiv_col = SelectKBest(mutual_info_classif,k=5)
sel_fiv_col.fit(X_train,y_train)
X_train.columns[sel_fiv_col.get_support()]

Index(['battery_power', 'px_height', 'ram', 'sc_h', 'wifi'], dtype='object')

### ChiSquare or Fisher score

In [46]:
from sklearn.feature_selection import chi2

In [47]:
chi_test = chi2(X_train,y_train)
chi_test

(array([1.04454069e+04, 8.98020893e-01, 1.61619985e+00, 5.52455234e-01,
        5.47337129e+00, 2.33672317e+00, 6.74634805e+01, 6.24823162e-01,
        8.54746955e+01, 6.80785924e+00, 5.30203458e+00, 1.53215226e+04,
        7.05499624e+03, 7.27482797e+05, 7.34607023e+00, 3.67140352e+00,
        5.51894899e+00, 4.40792923e-01, 8.62537181e-01, 7.71548033e-01]),
 array([0.00000000e+00, 8.25905387e-01, 6.55722215e-01, 9.07225008e-01,
        1.40240013e-01, 5.05522250e-01, 1.49027312e-14, 8.90726901e-01,
        2.05238683e-18, 7.82807541e-02, 1.50970424e-01, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 6.16483098e-02, 2.99202552e-01,
        1.37509641e-01, 9.31692506e-01, 8.34457718e-01, 8.56259554e-01]))

In [48]:
chi_test = pd.Series(chi_test[1], index = X_train.columns)
chi_test.sort_values(ascending=True)

battery_power    0.000000e+00
ram              0.000000e+00
px_width         0.000000e+00
px_height        0.000000e+00
mobile_wt        2.052387e-18
int_memory       1.490273e-14
sc_h             6.164831e-02
n_cores          7.828075e-02
talk_time        1.375096e-01
fc               1.402400e-01
pc               1.509704e-01
sc_w             2.992026e-01
four_g           5.055222e-01
clock_speed      6.557222e-01
blue             8.259054e-01
touch_screen     8.344577e-01
wifi             8.562596e-01
m_dep            8.907269e-01
dual_sim         9.072250e-01
three_g          9.316925e-01
dtype: float64

- battery_power    0.000000e+00
- ram              0.000000e+00
- px_width         0.000000e+00
- px_height        0.000000e+00
- mobile_wt        2.052387e-18 
- These 5 features have pvalue lower which means best features